#
# This workflow calls the main distribution pipeline from DuckDB to build, test and (optionally) release the extension
#
name: Main Extension Distribution Pipeline
on:
  push:
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.head_ref || '' }}-${{ github.base_ref || '' }}-${{ github.ref != 'refs/heads/main' && github.sha || '' }}
  cancel-in-progress: true

jobs:
  run-tests:
    name: Run Tests
    runs-on: ubuntu-latest
    env:
      GEN: ninja
    
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          submodules: 'true'
      
      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Install dependencies
        run: |
          sudo apt-get update -y -qq
          sudo apt-get install -y -qq build-essential cmake ninja-build ccache git linux-libc-dev libssl-dev libcurl4-openssl-dev nlohmann-json3-dev

      - name: Cache ccache
        uses: hendrikmuhs/ccache-action@v1.2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      
      - name: Run tests
        run: |
          make -j16 test-all
        env:
          CMAKE_CXX_COMPILER_LAUNCHER: ccache
          CMAKE_C_COMPILER_LAUNCHER: ccache
          NINJA_STATUS: '[%f/%t %es] '

  duckdb-stable-build:
    name: Build extension binaries
    uses: ./.github/workflows/_extension_distribution.yml
    needs: run-tests
    with:
      duckdb_version: v1.4.4
      ci_tools_version: v1.4.4
      extension_name: openlineage
      exclude_archs: "wasm_mvp;wasm_eh;wasm_threads;windows_amd64_mingw;"
      vcpkg_commit: 84bab45d415d22042bd0b9081aea57f362da3f35
      skip_tests: true

  code-quality-check:
    name: Code Quality Check
    uses: ./.github/workflows/_extension_code_quality.yml
    with:
      duckdb_version: v1.4.4
      ci_tools_version: v1.4.4
      extension_name: openlineage
      format_checks: 'format;tidy'
